/* Reserve Page */

h3{
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1cap;
    margin-bottom: 50px;
    animation: transitionIn 2s;
}
div input, div select{
    width: 20em;
    height: 2.5em;
    border-radius: 4px;
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
    font-size: 15px;
}
div select {
    flex-wrap: wrap;
    /* justify-content: center; */
    padding: 0.5em;
}
form div {
    animation: transitionIn 2s;
    margin: auto;
    display: flex;
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
    flex-direction: column;
}
/*
form input, form select{
    width: 60%;
}
*/

form textarea{
    width: 30em;
    height: 10em;
    border-radius: 4px;
/*    text-align: left;*/
    margin-top: 2%;
    margin-bottom: 4%;
    padding: 1em;
    outline: none;
    border: none;
    font-size: 15px;
    
}

/*
form button{
    background-color: #0088a9;
    border: 2px solid #0088a9;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 20px;
    transition: all 0.3s ease;
}
*/

body section form /*.btn*/ input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #0088a9;
    margin: 2em;
    /*  border: none;*/
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
/*    margin-top: 10px;*/

}

/*.btn*/input[type="submit"]:hover {
  background-color: #006d8a;
}
section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
/*    margin-top: 100px;*/ /* updated */
    background-image: url("../images/sunset2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
section *{
    width: 70%;
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form#form-main * {
    margin: 1%;
    align-items: center;
}
span.error, span#form-status{
    color: red;
    margin-top: 0;
}

/* un/show particular elements */
div#form-datetime{
    display: none;
}
.hidden{ /* by definition */
    display: none;
}
.show{ /* by definition */
    display: block;
}
footer{
    bottom: 0;
    width: 100%; 
    padding: 20px 15%; 
    background: #29304B; 
    color: white;
    display: flex; 
    z-index: 2; 
    position: relative;
}