{% extends "layout.html" %}

{% block content %}
<div class="favs">
    <h1>Favorite Menu Items</h1>
    {% if favourites is not empty %}
        <ul>
        {% for menu in favourites %}
            <li class="favs-item">
                <h2>{{ menu.name }}</h2>
                <p>Type: {{ menu.type }}</p>
                <p>Ingredients: {{ menu.ingredients }}</p>
                <p>Price: {{ menu.price }}</p>
                <div class="buttons">
                    <a href="removefavs.php?id={{ menu.id }}" class="button">Remove from Favorites</a>
                </div>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No favorite menu items found.</p>
    {% endif %}
    <div class="buttons">
        <a href = "" class = "button">Send List by Email </a>
        <a href="index.php" class="button">Home</a>
    </div>
</div>
{% endblock %}