php_flag display_startup_errors on
php_flag display_errors on

<Files "config.ini">
    Require all denied
</Files>

Options -Indexes

# display 404 page in case of 404 error - Page Not Found
ErrorDocument 404 errors-http/404.php
