@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&display=swap');

/* CSS for all Web Pages */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: 0;
}
body{
    font-family: "Montserrat", sans-serif;
    background: #29304B;
    color: white;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}
.container{
    width: 100%;
    height: 100%;
    overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #29304B;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100px;
}
.logo{  
    width: 90px;
    height: 80px;
    cursor: pointer;
    display: block;

}
.nav_links{
    list-style: none;
    width: 100%;
    justify-content: center;
    display: flex;
}
.nav_links li{
    display: inline-block;
    padding: 1rem; 
    margin: 0 1rem;
    font-weight: bold;

}
.nav_links li a{
    transition: all 0.3s ease 0s;
 
}
.nav_links li a:hover{
    color: #0088a9;
}
.main{
    display: flex;
    align-items: center;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    transition: all 0.3s ease 0s;
    background-color: rgba(0,136,169,1);
}
.main a:hover{
    color: #29304B;
}
.main i{
    color: #edf0f1;
    background-color: rgba(0,136,169,1);
    margin-right: 5px;
    padding-top:-2px;
    transition: all 0.3s ease 0s;
    vertical-align: middle; 
}
.main a:hover i{
    color: #29304B;


/* Home Page */
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}
section p {
    font-size: 1.5rem;
    max-width: 900px;
    position: relative;
    z-index: 1;
}

#Home {
    position: relative;
    background-image: url(images/restaurant.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#Home::before { 
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
#Home h1 {
    font-size: 4rem;
    font-weight: 1000;
    position: relative;
    z-index: 1;
}

#About {
    position: relative;
    background-image: url(images/wavesOpacity.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.aboutBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-top: 8%;
    max-width: 80%;
    background-color: #29304B;
    padding: 30px;
    border-radius: 20px;
}
.aboutBox h2 {
    font-size: 2.6rem;
    font-weight: 1000;
    margin-right: 35px;
    margin-left: auto;
    color: #FFFFFF;
}
.aboutBox p {
    font-size: 1rem;
    width: 80%;
    margin-left: 7%;
}
.aboutBox .aboutImage {
    width: 50%;
    margin-right: 20px;
    border-radius: 10px;    
    z-index: 1;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #0088a9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 3%;
}

.btn:hover {
  background-color: #006d8a;
}

#Reserve {
    position: relative;
    background-image: url(images/menuOpacity.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#News {
    position: relative;
    background-image: url(images/sandOpacity.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    margin-bottom: 0px;
    padding-bottom: 80px;
}
#News h2 {
    font-size: 50px;
    position: absolute;
    left: 38%;
}
.news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.news-item,
.news-item2 {
    position: absolute;
    top: 17%;
    margin: auto;
    border: 2px solid #ccc;
    padding: 20px;
    width: 460px;
    height: 550px;
}
.news-item {
    left: 0%;
    right: 65%;
    background-color: #29304B;
}
.news-item2 {
    left: 64%;
    right: 0%;
    background-color: #29304B;
}
.news-item h3,
.news-item2 h3 {
    font-size: 25px;
    margin-top: 0;
}
.news-item p,
.news-item2 p {
    font-size: 18px;
}
footer{
    bottom: 0;
    width: 100%; 
    padding: 20px 15%; 
    background: #29304B; 
    color: white;
    display: flex; 
    z-index: 2; 
    scroll-snap-align: center;
}
footer div{
    text-align: center;
}
.col-2{
    flex-grow: 2;
    
}   
footer div h3{
    font-weight: bolder;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 20px;    
}   
.col-1 a{
    display: block; 
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}
.col-1 a:hover{
    color: #0088a9;
}
form input{
    width: 60%;
    height: 35px;
    border-radius: 4px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
    outline: none;
    border: none;
    font-size: 15px;
}
form button{
    background-color: #0088a9;
    border: 2px solid #0088a9;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 20px;
    transition: all 0.3s ease;
}
form button:hover{
    background-color: #006d8a;
}
.col-3 p{
    font-size: 20px;
}
.social-icons{
    margin-top: 20px;
}
.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}
/* Login page*/
.login_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("images/wavesOpacity.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: black;
    border-radius: 8px;
    top: 40px;
}
.box form{
    position: absolute;
    inset: 4px;
    background: black;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column  ;
}
.box form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.box form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.box form .inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: rgb(190, 190, 190);
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}
.box form .inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i{
    height: 44px;
}
.box form .links{
    display: flex;
    justify-content: space-between;
    
}
.box form .links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: rgb(190, 190, 190);
    text-decoration: none;
}
.box form .links a:hover,
.box form .links a:nth-child(2)
{
    color:rgb(190, 190, 190);;
}
.box form input[type="submit"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}
.box form .inputBox input[type="submit"]:active{
    opacity: 0.8;

}


/* Register page*/

.reg_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-image: url("images/wavesOpacity.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
.regbox {
    position: relative;
    width: 380px;
    height: 600px;
    background: black;
    border-radius: 8px;
    top: 40px;
  }
.regbox form{
    position: absolute;
    inset: 4px;
    background: black;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column  ;
}
.regbox form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.regbox form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.regbox form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.regbox form .inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: rgb(190, 190, 190);
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.regbox form .inputBox input:valid ~ span,
.regbox form .inputBox input:focus ~ span{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}
.regbox form .inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.regbox form .inputBox input:valid ~ i,
.regbox form .inputBox input:focus ~ i{
    height: 44px;
}
.regbox form .links{
    display: flex;
    justify-content: space-between;
    
}
.regbox form .links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: rgb(190, 190, 190);
    text-decoration: none;
}
.regbox form .links a:hover {
    color: rgb(190, 190, 190);
}
.regbox form .links a:nth-child(2) {
    color: rgb(190, 190, 190);
}
.regbox form input[type="submit"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}
.regbox form .inputBox input[type="submit"]:active{
    opacity: 0.8;
}

  
