{% extends "layout.html" %}

{% block content %}

            <div class="content">
                <section id="row1">
                    <span>
                        <p>
                            Our story begins with a love of food. Our founder, Mark, grew up in a family that cherished mealtime as a time to connect and enjoy the simple pleasures of life. As he got older, he discovered that he had a passion for cooking, and he decided to pursue that passion by opening his own restaurant.
                        </p>
                        <p>
                            That was over a decade ago, and since then, we've become a beloved institution in our community. Our menu is inspired by the flavors of the world, with a focus on fresh, locally-sourced ingredients that are bursting with flavor and nutrition.
                        </p>
                    </span>
                    <img src="https://images.pexels.com/photos/14700090/pexels-photo-14700090.jpeg">
                </section>
                <section id="row2">
                    <span>
                        <p>
                            But what really sets us apart is our commitment to hospitality. We believe that food is about more than just sustenance - it's about creating an experience that nourishes both the body and the soul. That's why we go above and beyond to create a warm, welcoming atmosphere that makes everyone feel at home.
                        </p>
                        <p>
                            Whether you're coming in for a quick lunch or a leisurely dinner, we want you to feel like you're part of our family. Our team is made up of passionate professionals who are dedicated to creating a memorable experience for our guests, from the moment you walk in the door to the moment you leave.
                        </p>
                    </span>
                    <img src="https://images.pexels.com/photos/914390/pexels-photo-914390.jpeg">
                </section>
                <section id="row1">
                    <span>
                        <p>
                            We're also committed to giving back to our community. That's why we work with local organizations to support causes that are important to us, from hunger relief to environmental sustainability.
                        </p>
                        <p>
                            At the end of the day, our goal is simple: to create a space where people can come together and enjoy great food, great company, and great memories. We hope you'll join us soon and experience the magic for yourself.
                        </p>
                    </span>
                    <img src="https://images.pexels.com/photos/3475617/pexels-photo-3475617.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                </section>
            </div>

{% endblock %}
