{% extends "layout.html" %}

{% block content %}
<section id="Home">
    <h1>Welcome To Seaside Grill</h1>
    <p>Discover a culinary journey like no other at our restaurant, where our talented chefs create mouth-watering dishes inspired by global flavors and cooking techniques</p>
</section>
<section id="About">
    <div class="aboutBox">
        <img src="images/steak.png" class="aboutImage">
        <div class="aboutContent">
            <h2>About Seaside Grill</h2>
            <p>Ever since our founding in 1990, Seaside Grill has been serving delicous, innovative dishes with a welcoming atmosphere for our guests. Over the past 33 years we have built a good reputatation amongst people from all around the island and we continue to strive for excellence in everything we do, from getting the best ingredients to create an unforgettable dining experience! </p>
            <a href="about.php" class="btn">Read More</a>
        </div>
    </div>
</section>
<section id="News">
    <h2>Latest News</h2>
    <div class="news-grid">
        <div class="news-item">
            <h3>Updated Menu</h3>
            <p>Exciting news for foodies! We're thrilled to announce the launch of our revamped menu, now available on our website. Our talented chefs have been hard at work, crafting delicious new dishes and reimagining old favorites. From savory starters to decadent desserts, there's something for everyone to enjoy. Visit our website to check out the new menu and make a reservation today!</p>
            <img src="images/menu.jpg" alt="Menu">
        </div>
        <div class="news-item2">
            <h3>Now Opened at Bugibba</h3>
            <p>We're thrilled to announce the opening of our newest restaurant in Bugibba! Our team has been working tirelessly to bring you a dining experience like no other. From the stunning decor to the delectable menu, every detail has been carefully crafted to delight your senses. We can't wait to welcome you to our new location!</p>
            <img src="images/bugibba.jpeg" alt="Bugibba">
        </div>
    </div>
</section>
{% endblock %}