{% extends "layout.html" %}

{% block content %}
            
            <section>
<!--                <form action="{{ filename }}.php" id="reservation-form" method="post">-->
<!--                    <h3>Book a reservation</h3>-->
                    
                    <!--<div>
                        <label for="name-r">Name:</label>
                        <input name="name-r">
                    </div>
                    <div>
                        <label for="surname-r">Surname:</label>
                        <input name="surname-r">
                    </div>
                    
                    <div id="form-datetime">
                        <label for="datetime-r">Insert date and time:</label>
                        <input id="datetime-r" name="datetime-r" type="datetime-local" />
                    </div>-->
<!--                    <p>(php Check with database if available. If not, try again.)</p>-->

<!--                    <input class="btn" name="submit-reservation" type="submit" value="Book a reservation" />-->
<!--                </form>-->
                <span>{{ form_status }}</span>
                <form action="{{ filename }}.php" id="contact-form" method="post">
                    <h3>Contact Us or Book a Table</h3>
                    
                    <div>
                        <label for="name">Name:</label>
                        <span class="error">{{ validations.nameError }}</span>
                        <input name="name" value="{{ formvalues.name }}" required>
                    </div>
                    <div>
                        <label for="surname">Surname:</label>
                        <span class="error">{{ validations.surnameError }}</span>
                        <input name="surname" value="{{ formvalues.surname }}" required>
                    </div>
                    <div>
                        <label for="email">Email:</label>
                        <span class="error">{{ validations.emailError }}</span>
                        <input name="email" type="email" value="{{ formvalues.email }}">
                    </div>
                    <div>
                        <label for="mobile">Mobile Number:</label>
                        <span class="error">{{ validations.mobileError }}</span>
                        <input name="mobile" type="tel" value="{{ formvalues.mobile }}" required>
                    </div>
                    
                    <div>
                        <label for="type">Message Type:</label>
                        <select name="type" id="dropdown-form" name="dropdown-form" required>
<!--                            Set the default option - https://stackoverflow.com/questions/5212939/how-do-i-set-an-un-selectable-default-description-in-a-select-drop-down-menu-i -->
                            <option value="question" {{ typeSelected.question }}>Question</option>
                            <option value="complaint" {{ typeSelected.complaint }}>Complaint</option>
                            <option value="reservation" {{ typeSelected.reservation }}>Reservation</option>
                        </select>
                    </div>
                    
                    <div id="form-message"> <!-- for contact -->
                        <label for="message">Message:</label>
                        <span class="error">{{ validations.messageError }}</span>
                        <textarea name="message" maxlength="150" required>{{ formvalues.name }}</textarea>
                    </div>
                    <div id="form-datetime"> <!-- for reservation -->
                        <label for="datetime">Insert date and time:</label>
                        <span class="error">{{ validations.datetimeError }}</span>
                        <input id="datetime" name="datetime" type="datetime-local" value="{{ formvalues.datetime }}"/>
                    </div>
                    
                    <input id="submit" type="submit" name="submit" value="Send">
                </form>
                
            </section>
            <script src="javascript/reserve.js"></script>
{% endblock %}
